@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root{
    --primaryFont: 'Open Sans', sans-serif;
    --primaryColor: #1b1c1e;
    --secondaryColor: ivory;
    --themeColor: rgb(238, 120, 92);
    --themeHover: rgb(184, 77, 51);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--primaryFont);
    color: var(--primaryColor);
}
a:hover{
    text-decoration: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar{
    background-color: transparent;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    transition: 500ms ease;
}
.scrolled .navbar{
    background-color: var(--themeColor);
    width: 100%;
    margin-top: 0px;
}
.navbar-brand{
    font-size: 2.5rem;
    color: var(--secondaryColor);
}
.navbar-brand:hover{
    color: var(--secondaryColor);
}
.nav-item a{
    color: var(--secondaryColor);
}
.scrolled .navbar-brand{
    color: var(--primaryColor);
}
.scrolled .nav-item a{
    color: var(--primaryColor);
}
.navbar-toggler{
    border: none;
}

.hamburger-menu{
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
    align-items: center;
    position: absolute;
    display: block;
    right: 1rem;
    top: 1.9rem;
}

.hamburger, .hamburger::before, .hamburger::after{
    width: 30px;
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--secondaryColor);
    transition: 0.4s;
}
.scrolled .hamburger, .scrolled .hamburger::before, .scrolled .hamburger::after{
    background-color: var(--primaryColor);
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before{
    top: -0.67rem;
}

.hamburger::after{
    bottom: 1rem;
}

.hamburger-menu.responsive .hamburger{
    background-color: transparent;
}

.hamburger-menu.responsive .hamburger::before{
    transform-origin: top left;
    transform: rotate(47deg);
    left: 6px;
}

.hamburger-menu.responsive .hamburger::after{
    transform-origin: bottom left;
    transform: rotate(-47deg);
    left: 6px;
}

/* Banner */
.carousel-item{
    height: 100vh;
}
.carousel-caption{
    height: 100%;
    width: 50%;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-top: 15rem;
    padding-left: 9rem;
    background-image: linear-gradient(to right, black, transparent);
}
.carousel-control-prev{
    z-index: 10;
}
.btn{
    background-color: var(--themeColor);
    color: var(--secondaryColor);
    transition: all 0.3s;
}
.btn:hover{
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    color: var(--secondaryColor);
    background-color: var(--themeHover);
}
/* About */
.about-heading{
    font-size: 3rem;
}
.about-heading span{
    color: var(--themeColor);
    font-size: 4rem;
}

/* Services */
.card img{
    height: 20rem;
    object-fit: cover;
}

/* Contact */
.contact{
    position: relative;
    background-image: url('../images/banner1.jfif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.contact::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.contact h1, .contact p{
    color: var(--secondaryColor);
}
.contact-card{
    background-color: var(--secondaryColor);
    border-radius: 5px;
}
.logo{
    background-color: var(--themeColor);
    color: var(--secondaryColor);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 18px 22px;
    font-size: 23px;
}
.contact-card{
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
}
.contacts-heading{
    font-weight: 700;
    font-size: 20px;
}
.contacts-body{
    color: var(--primaryColor);
    transition: all 0.3s;
}
.contacts-body:hover{
    transition: 0.3s ease-in-out;
    color: var(--themeColor);
    text-decoration: none;
}
.form{
    background-color: var(--secondaryColor);
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
}
.form-heading{
    font-size: 2rem;
    font-weight: 500;
}
.form-control{
    outline: none !important;
    border-radius: 20px;
    border: 1px solid var(--primaryColor);
    transition: all 0.2s;
}
.form-control:focus{
    transition: 0.2s ease-in-out;
    border: 2px solid var(--themeColor);
    outline: none !important;
    box-shadow: inset 0 -1px 0 #ddd;
}

/* Footer */
.footer{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}
.footer span{
    font-size: 16px;
}

/* Top Button */
.topButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    background-color: var(--themeColor);
    color: var(--secondaryColor);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

/* Responsive */
@media only screen and (max-width: 425px){
    .navbar{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        margin-top: 0;
    }
    .navbar-brand{
        font-size: 1.6rem;
    }
    .carousel-item{
        height: 20rem;
    }
    .carousel-item img{
        height: 100%;
        object-fit: cover;
    }
}